<template>
  <v-container
    id="regular-tables"
    fluid
    tag="section"
  >
    <base-material-card
      color="red"
      icon=" mdi-book-open"
      title="Laboratory Creator"
      class="px-5 py-3"
    >
      <v-simple-table>
        <thead>
          <tr>
            <th class="primary--text">
              ID
            </th>
            <th class="primary--text">
              Nombre
            </th>
            <th class="text-right primary--text">
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          <template v-for="item in laboratorios">
            <tr v-bind:key="item.id_laboratorio">
              <td>{{item.id_laboratorio}}</td>
              <td>{{item.nombre}}</td>
              <td class="text-right">
              <v-btn
                  class="ml-2"
                  min-width="0"
                  text
                  to="/"
                >
                <v-icon>mdi-delete</v-icon>
                </v-btn>

                <v-btn
                  class="ml-2"
                  min-width="0"
                  text
                  @click="editarLab(item.id_laboratorio)"
                >
                <v-icon> mdi-pencil</v-icon>
                </v-btn>
              </td>
            </tr>
          </template>
          <tr>
            <td></td>
            <td></td>
            <td class="text-right">
                <v-btn
                  @click="dialogoAgregarLaboratorio = true"
                  class="ml-2"
                  min-width="0"
                  text
                >
                <v-icon> mdi-plus-circle-outline</v-icon>
                </v-btn>
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </base-material-card>
    <v-dialog
      v-model="dialog3"
      max-width="300"
    >
      <v-card>
        <v-card-title>
          Esta seguro que desea aprobar el laboratorio?
          <v-spacer />
          <v-icon
            aria-label="Close"
            @click="dialog3 = false"
          >
            mdi-close
          </v-icon>
        </v-card-title>
        <v-card-text class="pb-6 pt-12 text-center">
          <v-btn
            class="mr-3"
            text
            @click="dialog3 = false"
          >
            No
          </v-btn>

          <v-btn
            color="success"
            text
            @click="dialog3 = false"
          >
            Si
          </v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialogoAgregarLaboratorio"
      max-width="500"
    >
      <v-card>
        <v-card-title>
          Formulario de Laboratorios
          <v-spacer />

          <v-icon
            aria-label="Close"
            @click="dialogoAgregarLaboratorio = false"
          >
            mdi-close
          </v-icon>
        </v-card-title>
        <v-form @submit.prevent="agregarLaboratorio">
        <v-card-text>
          <v-text-field
            label="nombre del laboratorio"
            name="nombre"
            prepend-icon="edit"
            type="text"
            color="red darken-3"
            v-model="nombreLaboratorio"
          />
          <v-select
            v-model="lenguajeSeleccionado"
            prepend-icon="language"
            :items="tipoLenguajes"
            label="lenguaje"
            color="red darken-3"
            dense
            item-value='id_tipo_lenguaje'
            item-text='nombre_lenguaje'
            return-object
            />
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            type="submit"
            color="success"
            text
            @click="dialogoAgregarLaboratorio = false"
          >
            Agregar laboratorio
          </v-btn>
          <v-btn
            color="error"
            text
            @click="dialogoAgregarLaboratorio = false"
          >
            Cerrar
          </v-btn>
        </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
  </v-container>

</template>
<script>
  import labCreatorMixin from './LabCreator'
  export default {
    name: 'labCreator',
    mixins: [labCreatorMixin],
  }
</script>
