<template>
  <v-container
    id="user-profile"
    fluid
    tag="section"
  >
    <v-row justify="center">
      <v-col
        cols="12"
        md="8"
      >
        <base-material-card
          color="red"
        >
          <template v-slot:heading>
            <div class="display-2 font-weight-light">
              Editar perfil
            </div>
            <div class="subtitle-1 font-weight-light">
              <!--Complete your profile-->
            </div>
          </template>
          <v-form  v-on:submit.prevent="actualizarPerfil">
            <v-container class="py-0">
              <v-row>
                <v-col
                  cols="12"
                  md="6"
                >
                  <v-text-field
                    class="purple-input"
                    label="Email Address"
                    v-model="email"
                  />
                </v-col>

                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    label="User Name"
                    class="purple-input"
                    v-model="username"
                  />
                </v-col>
                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    label="Password"
                    class="purple-input"
                    type="password"
                    v-model="password"
                  />
                </v-col>
                <v-col
                  cols="12"
                  md="6"
                >
                  Si registra una nueva contraseña, se le enviara un correo electronico para confirmar el cambio
                </v-col>
                <v-col cols="12">
                  <v-textarea
                  class="purple-input"
                  label="Biografia"
                  v-model="biografia"
                  />
                </v-col>
                <v-col
                  cols="12"
                  class="text-right"
                >
                  <v-btn
                    color="success"
                    class="mr-0"
                    text
                  >
                    Actualizar perfil
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>

      <v-col
        cols="12"
        md="4"
      >
        <base-material-card
          class="v-card-profile"
          avatar="https://demos.creative-tim.com/vue-material-dashboard/img/marc.aba54d65.jpg"
        >
          <v-card-text class="text-center">
            <h6 class="display-1 mb-1 grey--text">
              {{username}}
            </h6>
            <h4 class="display-2 font-weight-light mb-3 black--text">
              <!---->
            </h4>
            <p class="font-weight-light grey--text">
              <!----->
            </p>
          </v-card-text>
        </base-material-card>
      </v-col>
    </v-row>
    <base-material-snackbar
      v-model="snackbar"
      :type="success"
      v-bind="{
        bottom : true,
        right: true
      }"
    >
      Datos actualizados correctamente
    </base-material-snackbar>
  </v-container>
</template>
<script>
  import userProfileMixin from './UserProfile'
  export default {
    name: 'userProfile',
    mixins: [userProfileMixin],
  }
</script>
