<template>
  <v-container
    id="dashboard"
    fluid
    tag="section"
  >
    <v-row>
      <v-col
        cols="12"
        lg="4"
        v-for="item in laboratorios"
        :key="item.id_laboratorio"
        @click="redirectToLab(item.id_laboratorio)"
      >
      <v-card
      class="mx-auto"
      max-width="400"
    >
      <v-img
        class="white--text align-end"
        height="200px"
        src="..\..\assets\foto_python2.jpg"
      >
        <v-card-title>{{item.nombre}}</v-card-title>
      </v-img>
      <v-card-text class="text--primary">{{item.descripcion}}
        <div></div>
      </v-card-text>
    </v-card>
    </v-col>
    </v-row>
  </v-container>
</template>
<script>
  import principalPageMixin from './PrincipalPage'
  export default {
    name: 'DashboardDashboard',
    mixins: [principalPageMixin],
  }
</script>
