<template>
    <v-container
        id="regular-tables"
        fluid
        tag="section"
    >
        <base-material-card
        color="red"
        icon=" mdi-book-open"
        :title="actividad.nombre"
        class="px-5 py-3"
        >
            <viewer ref="toastuiEditor" height="500px" />
             <v-file-input
                  accept=".py"
                  label="Selecciona un archivo .py"
                  v-model="chosenFile"
                  show-size="true"
                >
                </v-file-input>
                <v-card-actions>
                    <v-spacer />
                    <v-btn
                        color="success"
                    >
                        Enviar
                    </v-btn>
                </v-card-actions>
        </base-material-card>
    </v-container>
</template>
<script>
  import viewLabMixin from './ViewLabMixin'
  export default {
    name: 'ViewLab',
    mixins: [viewLabMixin],
    props: {
      idLaboratorio: {
        type: Number,
        default: 0,
      },
    },
  }
</script>
