<template>
    <v-app>
        <v-content>
            <v-container class="fill-height" fluid>
                <v-row align="center" justify="center">
                    <v-col cols="12" sm="8" md="8">
                        <v-card class="elevation-12">
                            <v-window v-model="step">
                                <v-window-item :value="1">
                                    <v-row>
                                        <v-col cols="12" md="8">
                                            <v-form @submit.prevent="iniciarSesionUsuario">
                                            <v-card-text class="mt-12">
                                                <h1 class="text-center display-3 red--text text--darken-4">Inicia Sesion </h1>
                                                <div class="text-center" mt-4>
                                                    <v-btn class="mx-2" fab color="black" outlined>
                                                        <v-icon>fab fa-facebook-f</v-icon>
                                                    </v-btn>
                                                    <v-btn class="mx-2" fab color="black" outlined>
                                                        <v-icon>fab fa-google-plus-g</v-icon>
                                                    </v-btn>
                                                    <v-btn class="mx-2" fab color="black" outlined>
                                                        <v-icon>fab fa-linkedin-in</v-icon>
                                                    </v-btn>
                                                </div>
                                                    <v-text-field
                                                    label="UserName"
                                                    name="UserName"
                                                    prepend-icon="person"
                                                    type="text"
                                                    color="red darken-3"
                                                    v-model="username"
                                                    />
                                                    <v-text-field
                                                    id="password"
                                                    label="Password"
                                                    name="Password"
                                                    prepend-icon="lock"
                                                    type="password"
                                                    color="red darken-3"
                                                    v-model="contraseña"
                                                    />
                                                <h4 class="text-center mt-3">Olvidaste la contraseña ?</h4>
                                            </v-card-text>
                                            <div class="text-center mt-3">
                                                <v-btn type="submit" rounded color="red darken-4" dark> INICIAR SESION </v-btn>
                                            </div>
                                            </v-form>
                                        </v-col>
                                        <v-col cols="12" md="4" class="red darken-3">
                                            <v-card-text class="white--text mt-12">
                                                <h1 class="text-center display-3">Bienvenido a PyLab!</h1>
                                                <h5 class="text-center">Ingresa y disfruta de todos los laboratorios</h5>
                                            </v-card-text>
                                            <div class="text-center">
                                                <v-btn rounded outlined="" dark @click="step++">REGISTRARSE</v-btn>
                                            </div>
                                        </v-col>
                                    </v-row>
                                </v-window-item>
                                <v-window-item :value="2">
                                    <v-row class="fill-height">
                                        <v-col cols="12" md="4" class="red darken-3">
                                            <v-card-text class="white--text mt-12">
                                                <h1 class="text-center display-3">Bienvenido a PyLab!</h1>
                                                <h5 class="text-center">Inicia sesion y aprende con PyLab</h5>
                                            </v-card-text>
                                            <div class="text-center">
                                                <v-btn rounded outlined dark @click="step--">INICIA SESION</v-btn>
                                            </div>
                                        </v-col>
                                        <v-col cols="12" md="8">
                                            <v-form @submit.prevent="registroUsario">
                                            <v-card-text class="mt-12">
                                                <h1 class="text-center display-3 red--text text--darken-4">Crear Cuenta</h1>
                                                <div class="text-center mt-4">
                                                    <v-btn class="mx-2" fab color="black" outlined>
                                                        <v-icon>fab fa-facebook-f</v-icon>
                                                    </v-btn>
                                                    <v-btn class="mx-2" fab color="black" outlined>
                                                        <v-icon>fab fa-google-plus-g</v-icon>
                                                    </v-btn>
                                                    <v-btn class="mx-2" fab color="black" outlined>
                                                        <v-icon>fab fa-linkedin-in</v-icon>
                                                    </v-btn>
                                                </div>
                                                    <v-text-field
                                                    label="UserName"
                                                    name="UserName"
                                                    prepend-icon="person"
                                                    type="text"
                                                    color="red darken-3"
                                                    v-model="username"
                                                    />
                                                    <v-text-field
                                                    label="Email"
                                                    name="Email"
                                                    prepend-icon="email"
                                                    type="email"
                                                    color="red darken-3"
                                                    v-model="correo"
                                                    />
                                                    <v-text-field
                                                    label="Password"
                                                    name="Password"
                                                    prepend-icon="lock"
                                                    type="password"
                                                    color="red darken-3"
                                                    v-model="contraseña"
                                                    />
                                            </v-card-text>
                                            <div class="text-center mt-n5">
                                                <v-btn type="submit" rounded color="red darken-4" dark>REGISTRARSE</v-btn>
                                            </div>
                                            </v-form>
                                        </v-col>
                                    </v-row>
                                </v-window-item>
                            </v-window>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
    </v-app>
</template>
<script>
  import loginMixin from './Login'
  export default {
    name: 'login',
    mixins: [loginMixin],
    data: () => ({
      step: 1,
    }),
    props: {
      source: String,
    },
  }
</script>
