<template>
    <div>
        <editor ref="toastuiEditor" @change="onEditorChange" :initialValue="editorText" v-model="editorText" previewStyle="tab" height="600px" />
    </div>
</template>
<script>
  import TextEditorMixin from './TextEditorJ'
  export default {
    name: 'TextEditor',
    mixins: [TextEditorMixin],
    props: {
      idLaboratorio: {
        type: Number,
        default: 0,
      },
    },
  }
</script>
