<template>
  <v-container
    id="regular-tables"
    fluid
    tag="section"
  >
    <base-material-card
      color="red"
      icon="mdi-clipboard-text"
      title="Solicitudes de Laboratorios"
    >
      <v-simple-table>
        <thead>
          <tr>
            <th class="primary--text">
              ID
            </th>
            <th class="primary--text">
              Nombre
            </th>
            <th class="primary--text">
              Autor
            </th>
            <th class="primary--text">
              Categoria
            </th>
            <th class="primary--text">
              Lenguaje
            </th>
            <th class="text-right primary--text">
              Acciones
            </th>
          </tr>
        </thead>

        <tbody>
         <tr>
            <td>1</td>
            <td>Introduccion a Django</td>
            <td>William Moreno</td>
            <td>Web</td>
            <td>
              Python
            </td>
            <td class="text-right">
              <v-btn
                  class="ml-2"
                  min-width="0"
                  text
                  to="/"
                >
                <v-icon>mdi-delete</v-icon>
                </v-btn>

                <v-btn
                  class="ml-2"
                  min-width="0"
                  text
                  @click="dialog3 = true"
                >
                <v-icon>mdi-check-circle </v-icon>
                </v-btn>
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </base-material-card>

    <div class="py-3" />

    <base-material-card
      color="red"
      icon="mdi-clipboard-text"
      title="Laboratorios"
      class="px-5 py-3"
    >
      <v-simple-table>
        <thead>
          <tr>
            <th class="primary--text">
              ID
            </th>
            <th class="primary--text">
              Nombre
            </th>
            <th class="primary--text">
              Autor
            </th>
            <th class="primary--text">
              Categoria
            </th>
            <th class="text-right primary--text">
              Lenguaje
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Introduccion a Django</td>
            <td>William Moreno</td>
            <td>Web</td>
            <td class="text-right">
              Python
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </base-material-card>
    <v-dialog
      v-model="dialog3"
      max-width="300"
    >
      <v-card>
        <v-card-title>
          Esta seguro que desea aprobar el laboratorio?
          <v-spacer />
          <v-icon
            aria-label="Close"
            @click="dialog3 = false"
          >
            mdi-close
          </v-icon>
        </v-card-title>
        <v-card-text class="pb-6 pt-12 text-center">
          <v-btn
            class="mr-3"
            text
            @click="dialog3 = false"
          >
            No
          </v-btn>

          <v-btn
            color="success"
            text
            @click="dialog3 = false"
          >
            Si
          </v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
  import administracionMixin from './Administracion'
  export default {
    name: 'administracion',
    mixins: [administracionMixin],
  }
</script>
